@media only screen and (max-width:1364px) {
    
    #missionsection{
        display: flex;
    flex-direction: column;
    height: 750px;
    align-items: center;
}
.card{
    width: 70%;
}
.cardimg{
    margin-right: 10px;
}
.cardimg img{
    padding-right: 10px;
}
.cardcontent{
    margin-right: 130px;
   padding: 5px;
}
}
@media only screen and (max-width:1090px){
    #details{
        margin-left: -276px;
    }
}
@media only screen and (max-width:706px){
    #formcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}